/* 
	GENERAL AREA 
*/

* {
	font-family: Raleway;
}

body {
	padding: 0;
	margin: 0;
}
header {
	min-width: 10px;
	height: 10vh;
	background-color: lightblue;

	display: flex;
  	align-items: center;
  	justify-content: space-between; 

	padding: 0px 15px 0px 15px;	
}

footer {
	background-color: lightblue;
	min-height: 20vh;
}

img {
	object-fit: cover;
}


/* 
	HEADER AREA 
*/

#hbg {
	height: 40px;
	width: 40px;
}

/* 
	HEADLINE AREA
*/

#headline-area {
	display: grid;
  	grid-template-columns: 1fr 1fr;
  	grid-template-rows: 1fr 1fr 1fr 1fr;
  	grid-template-areas:
  	"title photo"
  	"title photo"
  	"title photo"
  	"link photo";
  	max-height: 100vh;
}

#headline-photo {
	grid-area: photo;

	width: 100%;

}

#headline-text {
	grid-area: title;


	display: flex;
  	align-items: center; /*Vertical*/
  	justify-content: center; /*Horizontal*/
  	flex-direction: column;
}

#more-photos {
	grid-area: link;


	display: flex;
  	align-items: center; /*Vertical*/
  	justify-content: center; /*Horizontal*/

  	text-decoration: none;
  	color: black;
}




/* 
	CONTACT US AREA
*/

#contact-us-area {
	height: 70vh;
	display: flex;
  	align-items: center; /*Vertical*/
  	justify-content: center; /*Horizontal*/
	border: 1px solid black;
	flex-direction: column;
	background-size: cover;
	background-image: url("img/call.jpg");

}

#contact-us-area a {
	text-decoration: none;
	color: black;
	border: 1px solid black;
	width: 180px;
	padding: 25px 5px 25px 5px;
	text-align: center;
	height: auto;

}

#contact-us-area a:hover {
	background-color: rgba(77, 77, 77,0.6);
	
	transition-duration: 1s;
	

}
/* 
	FEATURES AREA
*/

#subtitle-area {
	padding-left: 6vw;
}

#features-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 

	padding-bottom: 30vh;

}

.features {
	width: 30vw;

	display: flex;
  	align-items: center; /*Vertical*/
  	justify-content: center; /*Horizontal*/

	flex-direction: column;
	overflow: hidden;
}



.features-img-area {
	min-height: 10px;
	max-width: 30vw;
}

.features img {
	max-height: 400px;
	max-width: 250px;
}
/* 
	FOOTER AREA
*/

#footer-top {

	display: grid;
  	grid-template-columns: 1fr 1fr;
  	grid-template-rows: 1fr 3fr;
  	grid-template-areas:
  	"none tailline"
  	"credentials tailline";
  	max-height: 60vh;

  	
}

#tailline {
	max-height: 50vh;
	position: relative;
	bottom: 20vh;

}

#tailline-area {
	grid-area: tailline;
	text-align: center;

}

#credentials {
	grid-area: credentials;
	padding-left: 40px;
	padding-bottom: 40px;
}


footer a img {
	height: 30px;
	width: 30px;

}

#footer-bottom {
	
	height: 10vh;
	min-width: 10px;

  	padding: 0px 15px 0px 15px;
	
	display: flex;
  	align-items: center;
  	justify-content: space-between; 
}

#footer-bottom h2 {
	display: inline;
}

#footer-icons {

}

/****************************************************/

/************* RESPONSIVE AREA *************/

/****************************************************/

@media only screen and (max-width: 400px) { 
* {
	font-size: 10px;
}



#tailline {
	max-height: 20vh;
	position: relative;
	bottom: 10vh;
}

#headline-area	{	
	display: flex;
  	align-items: center; /*Vertical*/
  	justify-content: center; /*Horizontal*/

	flex-direction: column;
}

#more-photos {
	min-height: 6vh;
}

#contact-us-area {
	max-height: 50vh;
	color: white;
	border: 1px solid white;
}

#contact-us-area a {
	border: 1px solid white;
	color: white;
}

#subtitle-area {
	display: flex;
	align-items: center; /*Vertical*/
  	justify-content: center; /*Horizontal*/
  	flex-direction: column;
}

#credentials {
	height: 18vh;
}

footer {
	min-height: 20vh;
}

#features-area {
	padding-bottom: 10vh;
	min-height: 40vh;
	margin-bottom: 16vh;
}

#tailline-area {
	padding-right: 5vw;
}

#features-area {
	padding: 0px 5vw 0px 5vw;
}

.features {
	width: 45vw;
}

.features-img-area {
	width: 40vw;
}

.features img {
 	width: 100%;
}





}
